<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0
    </div>
    <strong>Bản quyền &copy; 2024-2025 <a href="~/">Trương Thị Minh Tú</a>.</strong>
</footer>