<html>
    <head>
        <title> 
            Test Layout
        </title>
    </head>
    <body>
        <h1>Đây là Layout test</h1>
        <div>
            @RenderBody()
        </div>
    </body>    
</html>
