@model SV21T1020793.DomainModels.Category
@{
}
<div class="box box-danger">
    <div class="box-body">
        <form action="~/Category/Delete/@Model.CategoryId" method="post">
            <input type="hidden" name="CategoryId" value="@Model.CategoryId" />
            <div class="form-group">
                <label>Tên loại hàng:</label>
                <p class="form-control-static form-control">@Model.CategoryName</p>
            </div>
            <div class="form-group">
                <label>Miêu tả:</label>
                <p class="form-control-static form-control">@Model.Description</p>
            </div>
            <div class="form-group text-right">
                @if (!SV21T1020793.BusinessLayers.CommonDataService.InUsedCategory(Model.CategoryId))
                {
                    <button type="submit" class="btn btn-danger">
                        <i class="fa fa-trash"></i> Xác nhận xóa
                    </button>
                }
                <a href="~/Category" class="btn btn-default">
                    Quay lại
                </a>
            </div>
        </form>
    </div>
</div>